
@{
  Layout = "_Layout";
}
@using MusicOrganizer.Models;

  <h3>Album Title: @Model.Title</h3>
  <h3>Album Artist: @Model.Artist</h3>
  <h3>Album Genre: @Model.Genre</h3>
  <h3>Album Type: @Model.Type</h3>

  @if (Model.Songs.Count == 0)
  {
    <p>There are no songs in this album! Bummer.</p>
  }

  <h3>Songs:</h3><br>
  <ul>
    @foreach (Song song in Model.Songs)
    {
      <li>song.Title</li>
    }
  </ul>
<h3><a href="/record/@Model.Id/edit">Edit this Album</a></h3>

<h3><a href="/record">Go Back to Your Collection</h3>



