@{
  Layout = "_Layout";
}
@using MusicOrganizer.Models;

<form action="/search/" method="post"> <!--TO DO: FIX SEARCH-->
  <label for="artist">Search By Artist:</label>
  <input id="artist" name="artist" type="text" placeholder="Artist Name">
  <button type="submit">Search</button> 
</form>